/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/*
* modified by Ekkart Kleinod
*
* some code taken from webdesign tuts+
* http://webdesign.tutsplus.com/tutorials/complete-websites/building-a-responsive-layout-with-skeleton-starting-out/
*/

/* Table of Content
==================================================
	#Font Corrections
	#Baseline Corrections
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */


/* #Font Corrections
================================================== */
body {
	font: 14px "DroidSansRegular", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "DroidSerifBold", "Times New Roman", serif;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	font-family: "DroidSansRegular", Helvetica, Arial, sans-serif;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
	font: 13px "DroidSansRegular", Helvetica, Arial, sans-serif;
}

/* #Baseline Corrections
	using a vertical grid of 7 px
================================================== */

/* Typography */

h1 {
	font-size: 42px;
	line-height: 49px;
	margin-bottom: 14px;
}

h2 {
	font-size: 28px;
	line-height: 42px;
	margin-bottom: 7px;
}

h3 {
	font-size: 21px;
	line-height: 35px;
	margin-top: 14px;
	margin-bottom: 7px;
}

h4 {
	line-height: 28px;
	margin-bottom: 7px;
}

h5 {
	line-height: 21px;
}

p {
	margin: 0 0 21px 0;
}

/*	Blockquotes  */
blockquote, blockquote p {
	line-height: 21px;
}

blockquote {
	margin: 0 0 21px;
	padding: 7px 20px 0 19px;
}

hr {
	margin: 14px 0 28px;
}

/* Lists */
ul, ol {
	margin-bottom: 21px;
}
ul ul, ul ol,
ol ol, ol ul {
	margin: 7px 0 7px 30px;
}
ul ul li, ul ol li,
ol ol li, ol ul li {
	margin-bottom: 7px;
}
li {
	line-height: 21px;
	margin-bottom: 14px;
}

ul.legend li {
	margin: 0 0 0 14px;
}



/* #Site Styles
================================================== */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.band {
	padding: 0;
	background-color: #fff;
}

.band.header {
	background-color: #eee;
	padding: 28px 0 21px;
}

.band.navigation {
	background-color: #063;
	padding: 0;
	color: #e0e0e0;
}

.band.username {
	border-top: dashed .5px #063;
	border-bottom: dashed .5px #063;
	background-color: #eee;
	padding: 0;
	margin: 7px 0;
}

.band.content {
	padding: 21px 0 14px;
}

.band.footer {
	background-color: #eee;
	padding: 14px 0 7px;
}

.band.sqldump {
	background-color: #CCC;
	padding: 28px 0 7px 0;
	color: #000;
}

/* links */
a:hover {
	text-decoration: none;
}

/* heading */
header a,
header a:visited {
	text-decoration: none;
	color: #032;
}

header a:hover {
	color: #063;
}

/* navigation */
nav.primary ul,
nav.primary ul li {
	margin: 0px;
}

nav.primary select {
	display: none;
	width:  100%;
	height: 28px;
	margin: 21px 0;
}

nav.primary ul li {
	display: inline;
	float: left;
	position: relative;
}

nav.primary ul li a {
	display: inline-block;
	line-height: 49px;
	padding:  0 1em;
	color: #eee;
	text-transform: uppercase;
	text-decoration: none;
	font-family: "DroidSansBold", sans-serif;
	font-size: 12px;
	letter-spacing: 0.08em;
}

nav.primary ul li a:hover {
	cursor: pointer;
}

/*sub menu*/
nav.primary ul ul {
	opacity: 0;
		filter: alpha(opacity=0);

	position: absolute;
	top: 100%;
	left: 0;
	z-index: 999;
	background-color: #063;

	height: 0px;
	overflow: hidden;

	width: 100%;

	-webkit-transition: opacity 0.4s ease-out;
	-moz-transition: opacity 0.4s ease-out;
	-o-transition: opacity 0.4s ease-out;
	-ms-transition: opacity 0.4s ease-out;
	transition: opacity 0.4s ease-out;

	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

nav.primary ul li span {
	display: none;
}

nav.primary ul li:hover ul {
	opacity: 10;
		filter: alpha(opacity=100);

	height: auto;
	overflow: auto;
}

nav.primary ul ul li {
	float: none;
	display: list-item;
	border-bottom: 1px solid #eee;
}

nav.primary ul ul li a {
	display: block;
	line-height: 35px;
	text-transform: none;
}

nav.primary ul li:hover > a {
	color: #063;
	background-color: #ddd;
}

/* images */
figure {
	padding: 6px;
	border: 1px solid #ededed;
	background: #fff;
	line-height: 0px;
}

figcaption {
	font-size: .75em;
	text-align: center;
	padding: 14px 0;
}

/* tables */
table {
	width: auto;
}

thead {
	border-bottom: 1px solid #555;
}

tfoot {
	border-top: 1px solid #555;
}

th {
	font-family: "DroidSansBold", sans-serif;
	text-align: left;
}

th, td {
	padding: 0 1em 0 .5em;
}

th.th-col {
	border-right: 1px dotted #555;
}

tbody tr:nth-of-type(odd) {
	background: #eee;
}

tr .refrole {
	font-family: "DroidSansBold", sans-serif;
}

/* footer */
footer ul li a,
footer ul li a:visited {
	color: #032;
}

footer ul li a:hover {
	text-decoration: none;
	color: #063;
}

/* footer lists */
footer li {
	padding: 0;
	margin: 0;
}

/* links that look like buttons, and buttons */
a.button-link,
form button {
	text-transform: uppercase;
	text-decoration: none;
	font-family: "DroidSansBold", sans-serif;
	font-size: 12px;
	letter-spacing: 0.08em;

	padding: 0 10px;
	line-height: 35px;
	background: #063;
	color: #fff;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #032;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a.button-link:hover,
a.button-link:active,
form button:hover {
	color: #063;
	background-color: #ddd;
	text-decoration: none;
}

a.access-editor,
form button[type=reset]{
	background: #aa3;
}

a.access-admin {
	background: #c63;
}

/* flash messages: errors, warnings etc. */
.message {
	color: #fff;
	background: #c63;
	padding: 7px 14px;
	margin-bottom: 7px;

	text-transform: uppercase;
	font-family: "DroidSansBold", sans-serif;
	letter-spacing: 0.08em;

	display: block;
	width: 100%;
}

/* forms and filter (see <http://24ways.org/2009/have-a-field-day-with-html5-forms/>) */
form fieldset {
	margin-bottom: 10px;
}

form fieldset:last-of-type {
	margin-bottom: 0;
}

form legend {
	color: #063;
	padding-bottom: 7px;
	text-shadow: 0 1px 1px #c0d576;
}

form fieldset fieldset legend {
	color: #111111;
	font-size: 13px;
	font-weight: normal;
	padding-bottom: 0;
}

form ol li, .filter ol li {
	line-height: 21px;
	list-style: none;
	padding: 0 7px;
}

form ol ol li, .filter ol ol li {
	float: left;
}

form label, .filter label {
	font-weight: normal;
	float: left;
	width: 105px;
}

form fieldset fieldset label {
	line-height: 21px;
	padding: 0 0 0 28px;
	width: auto;
}

form fieldset fieldset label:hover {
	cursor: pointer;
}

form li.required label, .currentfilter label {
	font-family: "DroidSansBold", sans-serif;
}

form input:not([type=radio]),
form textarea {
	outline: none;
	padding: 2px 7px;
	width: 210px;
}

form input:not([type=submit]):focus,
form textarea:focus {
	border-color: #063;
}

form input[type=radio] {
	float: left;
	margin-right: 5px;
}

form button {
	line-height: 21px;
	padding: 0 21px;
	width: auto;
}

form .remark {
	font-family: "DroidSerifItalic", serif;
	font-size: smaller;
}

/* Legend */
.referee-more {
	font-family: "DroidSansBold", sans-serif;
}

.referee-notactive {
	color: #a00;
}

.referee-notactiveseason {
	color: #aa0;
}

.referee-nolicense {
	text-decoration: line-through;
}

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

		/* primary navigation: hide list, show select */
		nav.primary select {
			display: block;
		}

		nav.primary ul {
			display: none;
		}

		/*
			tables: reformat as small table
			code taken from <http://codepen.io/aarongustafson/pen/ucJGv>
		*/
		table {
			width: 100%;
			display: block;
		}

		caption {
			display: block;
		}

		thead {
			display: none;
		}

		tbody, tr, th, td {
			border: 0;
			display: block;
			padding: 0;
			text-align: left;
			white-space: normal;
		}

		tr {
			margin-bottom: 14px;
		}

		td[data-title]:before {
			content: attr(data-title) ":\00A0";
			font-family: "DroidSansBold", sans-serif;
		}

		td:empty {
				display: none;
		}

	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */

/* droid fonts */
@font-face {
		font-family: 'DroidSansRegular';
		src: url('../fonts/droid/DroidSans-webfont.eot');
		src: url('../fonts/droid/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/droid/DroidSans-webfont.woff') format('woff'),
				 url('../fonts/droid/DroidSans-webfont.ttf') format('truetype'),
				 url('../fonts/droid/DroidSans-webfont.svg#DroidSansRegular') format('svg');
		font-weight: normal;
		font-style: normal;

}

@font-face {
		font-family: 'DroidSansBold';
		src: url('../fonts/droid/DroidSans-Bold-webfont.eot');
		src: url('../fonts/droid/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/droid/DroidSans-Bold-webfont.woff') format('woff'),
				 url('../fonts/droid/DroidSans-Bold-webfont.ttf') format('truetype'),
				 url('../fonts/droid/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
		font-weight: normal;
		font-style: normal;

}

@font-face {
		font-family: 'DroidSansMonoRegular';
		src: url('../fonts/droid/DroidSansMono-webfont.eot');
		src: url('../fonts/droid/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/droid/DroidSansMono-webfont.woff') format('woff'),
				 url('../fonts/droid/DroidSansMono-webfont.ttf') format('truetype'),
				 url('../fonts/droid/DroidSansMono-webfont.svg#DroidSansMonoRegular') format('svg');
		font-weight: normal;
		font-style: normal;

}

@font-face {
		font-family: 'DroidSerifRegular';
		src: url('../fonts/droid/DroidSerif-Regular-webfont.eot');
		src: url('../fonts/droid/DroidSerif-Regular-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/droid/DroidSerif-Regular-webfont.woff') format('woff'),
				 url('../fonts/droid/DroidSerif-Regular-webfont.ttf') format('truetype'),
				 url('../fonts/droid/DroidSerif-Regular-webfont.svg#DroidSerifRegular') format('svg');
		font-weight: normal;
		font-style: normal;

}

@font-face {
		font-family: 'DroidSerifItalic';
		src: url('../fonts/droid/DroidSerif-Italic-webfont.eot');
		src: url('../fonts/droid/DroidSerif-Italic-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/droid/DroidSerif-Italic-webfont.woff') format('woff'),
				 url('../fonts/droid/DroidSerif-Italic-webfont.ttf') format('truetype'),
				 url('../fonts/droid/DroidSerif-Italic-webfont.svg#DroidSerifItalic') format('svg');
		font-weight: normal;
		font-style: normal;

}

@font-face {
		font-family: 'DroidSerifBold';
		src: url('../fonts/droid/DroidSerif-Bold-webfont.eot');
		src: url('../fonts/droid/DroidSerif-Bold-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/droid/DroidSerif-Bold-webfont.woff') format('woff'),
				 url('../fonts/droid/DroidSerif-Bold-webfont.ttf') format('truetype'),
				 url('../fonts/droid/DroidSerif-Bold-webfont.svg#DroidSerifBold') format('svg');
		font-weight: normal;
		font-style: normal;

}

@font-face {
		font-family: 'DroidSerifBoldItalic';
		src: url('../fonts/droid/DroidSerif-BoldItalic-webfont.eot');
		src: url('../fonts/droid/DroidSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/droid/DroidSerif-BoldItalic-webfont.woff') format('woff'),
				 url('../fonts/droid/DroidSerif-BoldItalic-webfont.ttf') format('truetype'),
				 url('../fonts/droid/DroidSerif-BoldItalic-webfont.svg#DroidSerifBoldItalic') format('svg');
		font-weight: normal;
		font-style: normal;

}
